extends layout.pug

block content
    .container-fluid
        .row
            .col-xs-12
                .main3
                    .title
                        ul.clearfix
                            li.pull-left.active 
                                a(href="/user/login") 用户登录
                            li.pull-left
                                a(href="/user/reg") 用户注册
                    .form-box
                        form
                            .list.clearfix
                                span.pull-left 用户名
                                input(
                                    class="pull-left"
                                    type='text'
                                    required
                                    placeholder="请输入用户名"
                                )
                            .list.clearfix
                                span.pull-left 密码
                                input(
                                    class="pull-left"
                                    type='password'
                                    required
                                    placeholder="请输入密码"
                                )
                            .list.but
                                button(type='submit') 立即提交
                                button(type='reset') 重置